USE [ql_nghidinh]
GO
/****** Object:  Table [dbo].[nghidinh]    Script Date: 6/16/2022 9:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nghidinh](
	[Chuong] [int] NULL,
	[Noidungchuong] [nchar](300) NULL,
	[Muc] [int] NULL,
	[Noidungmuc] [nchar](300) NULL,
	[Dieu] [int] NULL,
	[Noidungdieu] [nchar](300) NULL,
	[Khoan] [int] NULL,
	[Noidungkhoan] [nchar](3000) NULL
) ON [PRIMARY]
GO
